.home_contain{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: black;
}
/* Section One */
.section_one{
    width: 100%;
    height:760px;
    background-image: url(../imgs/sectionbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.73);
    display: flex;
    justify-content: center;
    align-items: center;
}
#so_text{
    color: var(--wg);
    font-size: 64px;
}
/* Section Two */
.section_two{
    width: 100%;
    height:600px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.stco{
    display: flex;
    flex-direction: column;
    width:600px;
    height:max-content;
}
p{
    margin: 0px;
    padding: 0px;
}
.so_HeadText{
    font-size: 30px;
    font-weight: 600;
}
.so_SubText{
    font-size: 24px;
    color: var(--blue);
    margin-top: -5px;
    font-style: italic;
}
.so_Detail{
    font-size: 18px;
    margin-top: 10px;
}
#resume{
    width: 100px;
    height: 50px;
    margin-top: 25px;
    outline: 0px;
    border: none;
    background-color: var(--blue);
    color:white;
    border-radius: 10px;
}
.stct{
    display: flex;
    justify-content: center;
    align-items: center;
    width:max-content;
    height:400px;
}
.profImage{
    width: 300px;
    height: 300px;
    background-color: var(--wg);
}
/* section Three */
.section_three{
    width: 100%;
    height:600px;
    background-color: var(--lightb);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.sthrHead{
    margin-top: 5%;
    font-size: 30px;
}