.home_contain{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: black;
    -webkit-user-select: none;

}
/* Section One */
.section_one{
    width: 100%;
    height:760px;
    background-image: url(../imgs/sectionbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.73);
    display: flex;
    justify-content: center;
    align-items: center;
}
#so_text{
    color: var(--wg);
    font-size: 64px;
    text-align: center;
    width:max-content;
}
/* CSS for typing animation */
@keyframes typing {
    from { width: 0; }
    to { width: 90%; }
  }
  
  .typing-effect {
    overflow-x: hidden !important;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black; /* Adjust to match your design */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: var(--wg); }
  }
  /* CSS for fade-in effect */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
/* Section Two */
.section_two{
    width: 100%;
    height:600px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.stco{
    display: flex;
    flex-direction: column;
    width:600px;
    height:max-content;
}
p{
    margin: 0px;
    padding: 0px;
}
.so_HeadText{
    font-size: 30px;
    font-weight: 600;
}
.so_SubText{
    font-size: 24px;
    color: var(--blue);
    margin-top: -5px;
    font-style: italic;
}
.so_Detail{
    font-size: 18px;
    margin-top: 10px;
}
#resume{
    width: 100px;
    height: 50px;
    margin-top: 25px;
    outline: 0px;
    border: none;
    background-color: var(--blue);
    color:white;
    border-radius: 10px;
}
.stct{
    display: flex;
    justify-content: baseline;
    align-items:baseline;
    width:max-content;
    height:400px;
}
.profImage{
    width: 300px;
    height: 100%;
    
}
.profImage image{
    width: 100%;
    height: 100%;
}
/* section Three */
.section_three{
    width: 100%;
    height:max-content;
    background-color: var(--lightb);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    z-index: 20;
}
.cards{
    width: 100%;
    height: max-content;
    padding-bottom: 50px;
}
.Head{
    margin-top: 2%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--wg);
}
.section_four{
    width: 100%;
    height:500px;
    background-color: var(--brown);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-start;
}
.section_five{
    width: 100%;
    height:600px;
    background-image: url(../imgs/sectionbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.73);    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
#proj{
    color: var(--wg);
    margin-bottom: 50px;
}
.p_cards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:60px;
    width:100%;
    height:max-content;
    align-content: center;
    justify-content: center;

}
.pcard{
    width: 400px;
    height: 380px;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem black);
    border-radius: 20px;
}